In [4]:
import sqlite3
connection = sqlite3.connect('Second.db')
table = 'CREATE TABLE kashi_table(Id INTEGER PRIMARY KEY, name TEXT, surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)
connection.commit()

OperationalError: table kashi_table already exists

In [ ]:
from faker import Faker

fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]
names

[['Stephen', 'Moore'],
 ['Leslie', 'Smith'],
 ['Megan', 'Barr'],
 ['Brandon', 'Wilson'],
 ['Grace', 'Rodriguez'],
 ['Amanda', 'Miller'],
 ['Patrick', 'Martinez'],
 ['Brandi', 'Robinson'],
 ['Charles', 'Castro'],
 ['Matthew', 'Frost'],
 ['Matthew', 'Sanchez'],
 ['Joseph', 'Hayden'],
 ['Jaime', 'Cross'],
 ['Eric', 'Guerrero'],
 ['Laurie', 'Hunt'],
 ['Christopher', 'Mitchell'],
 ['Ricardo', 'Downs'],
 ['Matthew', 'Pratt'],
 ['Christopher', 'Williams'],
 ['Erik', 'Cole'],
 ['Marilyn', 'Nichols'],
 ['Vanessa', 'Martinez'],
 ['Jade', 'Pratt'],
 ['Jeffrey', 'Smith'],
 ['Jeffrey', 'Conrad'],
 ['Vincent', 'Kramer'],
 ['Julie', 'Butler'],
 ['Julie', 'Kemp'],
 ['Kristin', 'Brooks'],
 ['Chelsea', 'Sharp'],
 ['Jared', 'Hess'],
 ['Christopher', 'Lewis'],
 ['Caitlin', 'Glover'],
 ['Brian', 'Gomez'],
 ['Kelly', 'Harris'],
 ['Douglas', 'Smith'],
 ['Taylor', 'Barnett'],
 ['Chelsea', 'Edwards'],
 ['Jeffery', 'Martinez'],
 ['Sherry', 'Peters'],
 ['Keith', 'George'],
 ['Austin', 'Reese'],
 ['Daniel', 'Thompson'],
 ['Jacob', 'Brown'],
 ['Laurie', 'Cobb'],
 ['David', 'Brennan'],
 ['John', 'Torres'],
 ['Sandra', 'Chan'],
 ['Cheryl', 'Sparks'],
 ['Wesley', 'Cox'],
 ['Amy', 'Randolph'],
 ['Jordan', 'Thomas'],
 ['Robert', 'Hall'],
 ['Erica', 'Gonzalez'],
 ['Henry', 'Barton'],
 ['Christopher', 'Shepard'],
 ['Wendy', 'Ryan'],
 ['Bryce', 'Nolan'],
 ['Christina', 'Macias'],
 ['Jeanne', 'Green'],
 ['Tanya', 'Doyle'],
 ['Maria', 'Stanton'],
 ['Matthew', 'Ryan'],
 ['Wendy', 'Smith'],
 ['Eddie', 'Hoffman'],
 ['Anna', 'Thompson'],
 ['Katherine', 'Jacobs'],
 ['Charles', 'Leonard'],
 ['Jay', 'Williams'],
 ['Margaret', 'Fields'],
 ['Brittany', 'Miles'],
 ['Vanessa', 'Oconnor'],
 ['Sandra', 'Hernandez'],
 ['Brenda', 'Phillips'],
 ['Adam', 'Hudson'],
 ['Anthony', 'Vincent'],
 ['Jessica', 'Rodriguez'],
 ['Tony', 'Collins'],
 ['Elaine', 'George'],
 ['Sheila', 'Irwin'],
 ['Robert', 'Thomas'],
 ['Brian', 'Garcia'],
 ['Kimberly', 'Jones'],
 ['Lisa', 'Davis'],
 ['Paul', 'Morrison'],
 ['Charles', 'Murphy'],
 ['Kayla', 'Clark'],
 ['Kevin', 'Perez'],
 ['Renee', 'Castro'],
 ['Trevor', 'Johnson'],
 ['Brittney', 'Hodge'],
 ['Cheryl', 'Clark'],
 ['Alisha', 'Torres'],
 ['Todd', 'Perkins'],
 ['Michael', 'Rodriguez'],
 ['John', 'Wright'],
 ['Justin', 'Morris']]

In [5]:
import sqlite3
connection = sqlite3.connect('Second.db')

In [6]:
insert_query = 'INSERT INTO kashi_table(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()