In [4]:
import sqlite3
connection = sqlite3.connect('Second.db')
table = 'CREATE TABLE kashi_table(Id INTEGER PRIMARY KEY, name TEXT, surname TEXT)'
cursor = connection.cursor()
cursor.execute(table)
connection.commit()

OperationalError: table kashi_table already exists

In [ ]:
from faker import Faker

fake = Faker()
names = [fake.name().split() for i in range(100)]
names = [name for name in names if len(name) == 2]
names

[['Stephen', 'Moore'],
 ['Leslie', 'Smith'],
 ['Megan', 'Barr'],
 ['Brandon', 'Wilson'],
 ['Grace', 'Rodriguez'],
 ['Amanda', 'Miller'],
 ['Patrick', 'Martinez'],
 ['Brandi', 'Robinson'],
 ['Charles', 'Castro'],
 ['Matthew', 'Frost'],
 ['Matthew', 'Sanchez'],
 ['Joseph', 'Hayden'],
 ['Jaime', 'Cross'],
 ['Eric', 'Guerrero'],
 ['Laurie', 'Hunt'],
 ['Christopher', 'Mitchell'],
 ['Ricardo', 'Downs'],
 ['Matthew', 'Pratt'],
 ['Christopher', 'Williams'],
 ['Erik', 'Cole'],
 ['Marilyn', 'Nichols'],
 ['Vanessa', 'Martinez'],
 ['Jade', 'Pratt'],
 ['Jeffrey', 'Smith'],
 ['Jeffrey', 'Conrad'],
 ['Vincent', 'Kramer'],
 ['Julie', 'Butler'],
 ['Julie', 'Kemp'],
 ['Kristin', 'Brooks'],
 ['Chelsea', 'Sharp'],
 ['Jared', 'Hess'],
 ['Christopher', 'Lewis'],
 ['Caitlin', 'Glover'],
 ['Brian', 'Gomez'],
 ['Kelly', 'Harris'],
 ['Douglas', 'Smith'],
 ['Taylor', 'Barnett'],
 ['Chelsea', 'Edwards'],
 ['Jeffery', 'Martinez'],
 ['Sherry', 'Peters'],
 ['Keith', 'George'],
 ['Austin', 'Reese'],
 ['Daniel', 'Thompson'],
 ['Jacob', 'Brown'],
 ['Laurie', 'Cobb'],
 ['David', 'Brennan'],
 ['John', 'Torres'],
 ['Sandra', 'Chan'],
 ['Cheryl', 'Sparks'],
 ['Wesley', 'Cox'],
 ['Amy', 'Randolph'],
 ['Jordan', 'Thomas'],
 ['Robert', 'Hall'],
 ['Erica', 'Gonzalez'],
 ['Henry', 'Barton'],
 ['Christopher', 'Shepard'],
 ['Wendy', 'Ryan'],
 ['Bryce', 'Nolan'],
 ['Christina', 'Macias'],
 ['Jeanne', 'Green'],
 ['Tanya', 'Doyle'],
 ['Maria', 'Stanton'],
 ['Matthew', 'Ryan'],
 ['Wendy', 'Smith'],
 ['Eddie', 'Hoffman'],
 ['Anna', 'Thompson'],
 ['Katherine', 'Jacobs'],
 ['Charles', 'Leonard'],
 ['Jay', 'Williams'],
 ['Margaret', 'Fields'],
 ['Brittany', 'Miles'],
 ['Vanessa', 'Oconnor'],
 ['Sandra', 'Hernandez'],
 ['Brenda', 'Phillips'],
 ['Adam', 'Hudson'],
 ['Anthony', 'Vincent'],
 ['Jessica', 'Rodriguez'],
 ['Tony', 'Collins'],
 ['Elaine', 'George'],
 ['Sheila', 'Irwin'],
 ['Robert', 'Thomas'],
 ['Brian', 'Garcia'],
 ['Kimberly', 'Jones'],
 ['Lisa', 'Davis'],
 ['Paul', 'Morrison'],
 ['Charles', 'Murphy'],
 ['Kayla', 'Clark'],
 ['Kevin', 'Perez'],
 ['Renee', 'Castro'],
 ['Trevor', 'Johnson'],
 ['Brittney', 'Hodge'],
 ['Cheryl', 'Clark'],
 ['Alisha', 'Torres'],
 ['Todd', 'Perkins'],
 ['Michael', 'Rodriguez'],
 ['John', 'Wright'],
 ['Justin', 'Morris']]

In [5]:
import sqlite3
connection = sqlite3.connect('Second.db')

In [6]:
insert_query = 'INSERT INTO kashi_table(name, surname) VALUES(?, ?)'
cursor = connection.cursor()
for name in names:
    cursor.execute(insert_query, name)
connection.commit()

In [8]:
query = 'select * from kashi_table'
count = 0
for result in cursor.execute(query):
    print(result)
    count += 1
    if count > 10:
        break

(1, 'Stephen', 'Moore')
(2, 'Leslie', 'Smith')
(3, 'Megan', 'Barr')
(4, 'Brandon', 'Wilson')
(5, 'Grace', 'Rodriguez')
(6, 'Amanda', 'Miller')
(7, 'Patrick', 'Martinez')
(8, 'Brandi', 'Robinson')
(9, 'Charles', 'Castro')
(10, 'Matthew', 'Frost')
(11, 'Matthew', 'Sanchez')

In [9]:
query = 'select surname from kashi_table'
for result in cursor.execute(query):
    print(result)

('Moore',)
('Smith',)
('Barr',)
('Wilson',)
('Rodriguez',)
('Miller',)
('Martinez',)
('Robinson',)
('Castro',)
('Frost',)
('Sanchez',)
('Hayden',)
('Cross',)
('Guerrero',)
('Hunt',)
('Mitchell',)
('Downs',)
('Pratt',)
('Williams',)
('Cole',)
('Nichols',)
('Martinez',)
('Pratt',)
('Smith',)
('Conrad',)
('Kramer',)
('Butler',)
('Kemp',)
('Brooks',)
('Sharp',)
('Hess',)
('Lewis',)
('Glover',)
('Gomez',)
('Harris',)
('Smith',)
('Barnett',)
('Edwards',)
('Martinez',)
('Peters',)
('George',)
('Reese',)
('Thompson',)
('Brown',)
('Cobb',)
('Brennan',)
('Torres',)
('Chan',)
('Sparks',)
('Cox',)
('Randolph',)
('Thomas',)
('Hall',)
('Gonzalez',)
('Barton',)
('Shepard',)
('Ryan',)
('Nolan',)
('Macias',)
('Green',)
('Doyle',)
('Stanton',)
('Ryan',)
('Smith',)
('Hoffman',)
('Thompson',)
('Jacobs',)
('Leonard',)
('Williams',)
('Fields',)
('Miles',)
('Oconnor',)
('Hernandez',)
('Phillips',)
('Hudson',)
('Vincent',)
('Rodriguez',)
('Collins',)
('George',)
('Irwin',)
('Thomas',)
('Garcia',)
('Jones',)
('Davis',)
('Morrison',)
('Murphy',)
('Clark',)
('Perez',)
('Castro',)
('Johnson',)
('Hodge',)
('Clark',)
('Torres',)
('Perkins',)
('Rodriguez',)
('Wright',)
('Morris',)

In [10]:
query = 'select * from kashi_table order by name desc'
for result in cursor.execute(query):
    print(result)

(50, 'Wesley', 'Cox')
(57, 'Wendy', 'Ryan')
(64, 'Wendy', 'Smith')
(26, 'Vincent', 'Kramer')
(22, 'Vanessa', 'Martinez')
(72, 'Vanessa', 'Oconnor')
(90, 'Trevor', 'Johnson')
(78, 'Tony', 'Collins')
(94, 'Todd', 'Perkins')
(37, 'Taylor', 'Barnett')
(61, 'Tanya', 'Doyle')
(1, 'Stephen', 'Moore')
(40, 'Sherry', 'Peters')
(80, 'Sheila', 'Irwin')
(48, 'Sandra', 'Chan')
(73, 'Sandra', 'Hernandez')
(53, 'Robert', 'Hall')
(81, 'Robert', 'Thomas')
(17, 'Ricardo', 'Downs')
(89, 'Renee', 'Castro')
(85, 'Paul', 'Morrison')
(7, 'Patrick', 'Martinez')
(95, 'Michael', 'Rodriguez')
(3, 'Megan', 'Barr')
(10, 'Matthew', 'Frost')
(11, 'Matthew', 'Sanchez')
(18, 'Matthew', 'Pratt')
(63, 'Matthew', 'Ryan')
(21, 'Marilyn', 'Nichols')
(62, 'Maria', 'Stanton')
(70, 'Margaret', 'Fields')
(84, 'Lisa', 'Davis')
(2, 'Leslie', 'Smith')
(15, 'Laurie', 'Hunt')
(45, 'Laurie', 'Cobb')
(29, 'Kristin', 'Brooks')
(83, 'Kimberly', 'Jones')
(88, 'Kevin', 'Perez')
(35, 'Kelly', 'Harris')
(41, 'Keith', 'George')
(87, 'Kayla', 'Clark')
(67, 'Katherine', 'Jacobs')
(97, 'Justin', 'Morris')
(27, 'Julie', 'Butler')
(28, 'Julie', 'Kemp')
(12, 'Joseph', 'Hayden')
(52, 'Jordan', 'Thomas')
(47, 'John', 'Torres')
(96, 'John', 'Wright')
(77, 'Jessica', 'Rodriguez')
(24, 'Jeffrey', 'Smith')
(25, 'Jeffrey', 'Conrad')
(39, 'Jeffery', 'Martinez')
(60, 'Jeanne', 'Green')
(69, 'Jay', 'Williams')
(31, 'Jared', 'Hess')
(13, 'Jaime', 'Cross')
(23, 'Jade', 'Pratt')
(44, 'Jacob', 'Brown')
(55, 'Henry', 'Barton')
(5, 'Grace', 'Rodriguez')
(20, 'Erik', 'Cole')
(54, 'Erica', 'Gonzalez')
(14, 'Eric', 'Guerrero')
(79, 'Elaine', 'George')
(65, 'Eddie', 'Hoffman')
(36, 'Douglas', 'Smith')
(46, 'David', 'Brennan')
(43, 'Daniel', 'Thompson')
(16, 'Christopher', 'Mitchell')
(19, 'Christopher', 'Williams')
(32, 'Christopher', 'Lewis')
(56, 'Christopher', 'Shepard')
(59, 'Christina', 'Macias')
(49, 'Cheryl', 'Sparks')
(92, 'Cheryl', 'Clark')
(30, 'Chelsea', 'Sharp')
(38, 'Chelsea', 'Edwards')
(9, 'Charles', 'Castro')
(68, 'Charles', 'Leonard')
(86, 'Charles', 'Murphy')
(33, 'Caitlin', 'Glover')
(58, 'Bryce', 'Nolan')
(91, 'Brittney', 'Hodge')
(71, 'Brittany', 'Miles')
(34, 'Brian', 'Gomez')
(82, 'Brian', 'Garcia')
(74, 'Brenda', 'Phillips')
(4, 'Brandon', 'Wilson')
(8, 'Brandi', 'Robinson')
(42, 'Austin', 'Reese')
(76, 'Anthony', 'Vincent')
(66, 'Anna', 'Thompson')
(51, 'Amy', 'Randolph')
(6, 'Amanda', 'Miller')
(93, 'Alisha', 'Torres')
(75, 'Adam', 'Hudson')

In [11]:
query = 'select name, surname from kashi_table order by name desc'
for result in cursor.execute(query):
    print(result)

('Wesley', 'Cox')
('Wendy', 'Ryan')
('Wendy', 'Smith')
('Vincent', 'Kramer')
('Vanessa', 'Martinez')
('Vanessa', 'Oconnor')
('Trevor', 'Johnson')
('Tony', 'Collins')
('Todd', 'Perkins')
('Taylor', 'Barnett')
('Tanya', 'Doyle')
('Stephen', 'Moore')
('Sherry', 'Peters')
('Sheila', 'Irwin')
('Sandra', 'Chan')
('Sandra', 'Hernandez')
('Robert', 'Hall')
('Robert', 'Thomas')
('Ricardo', 'Downs')
('Renee', 'Castro')
('Paul', 'Morrison')
('Patrick', 'Martinez')
('Michael', 'Rodriguez')
('Megan', 'Barr')
('Matthew', 'Frost')
('Matthew', 'Sanchez')
('Matthew', 'Pratt')
('Matthew', 'Ryan')
('Marilyn', 'Nichols')
('Maria', 'Stanton')
('Margaret', 'Fields')
('Lisa', 'Davis')
('Leslie', 'Smith')
('Laurie', 'Hunt')
('Laurie', 'Cobb')
('Kristin', 'Brooks')
('Kimberly', 'Jones')
('Kevin', 'Perez')
('Kelly', 'Harris')
('Keith', 'George')
('Kayla', 'Clark')
('Katherine', 'Jacobs')
('Justin', 'Morris')
('Julie', 'Butler')
('Julie', 'Kemp')
('Joseph', 'Hayden')
('Jordan', 'Thomas')
('John', 'Torres')
('John', 'Wright')
('Jessica', 'Rodriguez')
('Jeffrey', 'Smith')
('Jeffrey', 'Conrad')
('Jeffery', 'Martinez')
('Jeanne', 'Green')
('Jay', 'Williams')
('Jared', 'Hess')
('Jaime', 'Cross')
('Jade', 'Pratt')
('Jacob', 'Brown')
('Henry', 'Barton')
('Grace', 'Rodriguez')
('Erik', 'Cole')
('Erica', 'Gonzalez')
('Eric', 'Guerrero')
('Elaine', 'George')
('Eddie', 'Hoffman')
('Douglas', 'Smith')
('David', 'Brennan')
('Daniel', 'Thompson')
('Christopher', 'Mitchell')
('Christopher', 'Williams')
('Christopher', 'Lewis')
('Christopher', 'Shepard')
('Christina', 'Macias')
('Cheryl', 'Sparks')
('Cheryl', 'Clark')
('Chelsea', 'Sharp')
('Chelsea', 'Edwards')
('Charles', 'Castro')
('Charles', 'Leonard')
('Charles', 'Murphy')
('Caitlin', 'Glover')
('Bryce', 'Nolan')
('Brittney', 'Hodge')
('Brittany', 'Miles')
('Brian', 'Gomez')
('Brian', 'Garcia')
('Brenda', 'Phillips')
('Brandon', 'Wilson')
('Brandi', 'Robinson')
('Austin', 'Reese')
('Anthony', 'Vincent')
('Anna', 'Thompson')
('Amy', 'Randolph')
('Amanda', 'Miller')
('Alisha', 'Torres')
('Adam', 'Hudson')

In [14]:
query = 'select * from kashi_table where name = "Robert" order by name desc'
for result in cursor.execute(query):
    print(result)

(53, 'Robert', 'Hall')
(81, 'Robert', 'Thomas')

In [16]:
query = 'select name, surname from kashi_table limit 10'
for result in cursor.execute(query):
    print(f"First name:{result[0]}, Lastname:{result[1]}")

First name:Stephen, Lastname:Moore
First name:Leslie, Lastname:Smith
First name:Megan, Lastname:Barr
First name:Brandon, Lastname:Wilson
First name:Grace, Lastname:Rodriguez
First name:Amanda, Lastname:Miller
First name:Patrick, Lastname:Martinez
First name:Brandi, Lastname:Robinson
First name:Charles, Lastname:Castro
First name:Matthew, Lastname:Frost

In [17]:
# searching with sql in python 
# first name that end with es here %es means anythings before es valid where es% means anything after es valid
query = 'select name, surname from kashi_table where name like "%es"'
for result in cursor.execute(query):
    print(f"First name:{result[0]}, lastname:{result[1]}")

First name:Charles, lastname:Castro
First name:Charles, lastname:Leonard
First name:Charles, lastname:Murphy

In [18]:
# %s__ means any things before s and two space character
query = 'select name, surname from kashi_table where name like "%s__"'
for result in cursor.execute(query):
    print(f"First name:{result[0]}, lastname:{result[1]}")

First name:Vanessa, lastname:Martinez
First name:Chelsea, lastname:Sharp
First name:Chelsea, lastname:Edwards
First name:Vanessa, lastname:Oconnor
First name:Alisha, lastname:Torres